---
import Layout from '../layouts/Layout.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Prace | Kamil Wardak">
  <div class="bg-[#0c0a09]">
    <PortfolioSection />
    <div class="h-24 md:h-32"></div>
    <Footer />
  </div>
</Layout>
